{% comment %} {% layout "server/layouts/base.liquid" %} {% endcomment %}
{% layout "base" %}

{% block content %}

  <section class="infomation-block">
    <a href="/">
    <img class="logo" src="../../public/images/Whpo-logo.svg" alt="logo of what's poppin'">
    </a> 
    {% render 'custom-input-select/custom-input-select' %}

    <section class="events-section"  data-events-section >

    {% render 'events-overview-block/events-overview-block', 
   events: events,
   default_lat: default_lat,
   default_lon: default_lon
    %}
    </section>
  </section>






  <section class="map-block">

    {% render 'map-view/map-view', 
      lat: locations[0].lat | default: 52.3676, 
      lon: locations[0].lon | default: 4.9041, 
      name: locations[0].display_name | default: 'Amsterdam',
      first_load: true 
    %}

  </section>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

{% endblock %}